{% extends 'base.html' %}

{% block title %}Payment{% endblock %}

{% block content %}
<div class="max-w-md mx-auto mt-12 bg-white shadow-lg rounded-xl p-8">
    <h2 class="text-2xl font-semibold mb-6 text-center">Proceed to Payment</h2>

    <form method="post">
        {% csrf_token %}

        {% if plan.plan_name|lower == "on-demand" %}
        <p class="mb-4 font-medium">Select Waste Size:</p>
        <div class="flex flex-col gap-2">
            <label>
                <input type="radio" name="waste_size" value="small" checked>Light load- more or less equivalent to a few
                shopping bags (R799)
            </label>
            <label>
                <input type="radio" name="waste_size" value="medium">Standard load- Big bin/wheelie bin size (R1499)
            </label>
            <label>
                <input type="radio" name="waste_size" value="large">Large Bulky items - Half a bakkie-load and upwards
                (furniture, fridges, beds etc.) (R2499)
            </label>
        </div>
        {% endif %}

        <button type="submit"
            class="w-full bg-purple-500 text-white font-medium py-2 rounded-lg hover:bg-purple-600 transition-colors mt-4">
            Pay Now
        </button>
    </form>
</div>
{% endblock %}